* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

header.header {
  /* margin: 10px 20px 20px 20em; This helps us to move things to the right */
  font-size: xx-large;
  font-weight: 900;
  /* margin: 0 auto; */
  text-align: center;
}

.images {
  width: 350px;
  height: 120px;
  background-color: greenyellow;
  padding: 20px;
}

.fileUp {
  width: 250px;
  height: 100px;
  background-color: bisque;
  padding: 20px;
}

.my-btn {
  padding: 10px;
  margin: 10px 30px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
}
